.match-card {
  transition: box-shadow 0.3s;
}

.match-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.match-card:hover .text-dark {
  color: blue !important;
}

.image-container {
  width: 100%; /* Make the container take up the full width of its parent */
  height: 100%; /* Make the container take up the full height of its parent */
  overflow: hidden; /* Hide anything that goes outside the container */
}

.match-logo {
  width: 100%; /* Make the image take up the full width of its container */
  height: auto; /* Let the image height scale proportionally */
}
